/model/dataset/archive/Brain Tumor Data Set/Brain Tumor Data Set/Brain Tumor
/model/dataset/archive/Brain Tumor Data Set/Brain Tumor Data Set/Healthy
.pnpm*/
/model/resource
/backend/__pycache__
/backend/.pytest_cache
/backend/model
/backend/model/__pycache__
/backend/test/__pycache__
/backend/key/settings_token.pkl
/model/gemini-model-build.ipynb
/backend/.env
/backend/venv
/backend/.idea
__pycache__
