.card {
  display: block;
  margin: 5px;
  background: #1d191a;
  border-radius: 8px;
  padding: 2em;
  /* min-height: 20em; */
}

input[type="file"] {
    display: none;
  }

.customBtnUploadFiles {
    background-color: #B0228C;
    border-radius: 8px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: grid;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.submitBtn {
  border-width: 0;
  display: block;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: 0;
}

